.leander{
    background: linear-gradient(#665DCD,#5FA4E6,#D2AB67);
    width: 16px;
    height: 16px;
    border-radius: 8px;
}
.IMgOne {
    background-image: url(./assets/icons/mix.png);

}
.IMgThree {
    background-image: url(./assets/icons/mix3.png);
}